---
title: MinnoJS Suite
linkTitle: MinnoJS Suite
credit: <span>Photo by <a href="https://unsplash.com/@nknezevic?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Nikola Knezevic</a> on <a href="https://unsplash.com/s/photos/gate?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.css" integrity="sha256-ylWkFzi+pmuVQm80SJjUJvNjzXmRc6+naSkH2xWL5+8=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/theme/monokai.css" integrity="sha256-JGPcb9kgGaDHyiqqAdAxFrKA+nxq4BvyHffBB9m2g+g=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/mode/javascript/javascript.js" integrity="sha256-XxB90cNdnOuUFQjAE56w4OBTdMu5SHChSz02/Ki3oAQ=" crossorigin="anonymous"></script>

{{< blocks/cover title="Welcome to Minno Suite" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/minnojs/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A platform for online studies!</p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
## **Minno**
**Syndarin**. *Verb*. Enter! (lit. to the inside!)

Welcome!
Minno Suite is a platform for running behaviour studies online.
It was carefuly crafted by social scientists for social scientists with an emphasis on usability and flexability.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-stopwatch" title="Time sensitive tasks" url="docs/time" %}}
MinnoJS excels at running complex time-sensitive tasks.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-question" title="Questionnaires" url="docs/quest" %}}
Easily create questionnaires with full control over content randomization and interactivity.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-server" title="Minno server" url="docs/server" %}}
Manage study creation, data logging, multiple users and collaboration and much much more.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead type=justify-content-center >}}
    <h1 class="text-center">There is no need to install</h1>
    <h3 class="text-center">Try it out right now</h2>
{{< /blocks/lead >}}

{{< blocks/section color="white" type=justify-content-center >}}
    <div class="col-xl-6">
        <h2>Minno-time</h2>
        <p> 
            Minno-time allows you to create rich and flexible time sensitive tasks.
            It is fast, accurate, and extremely flexible.
            <a href="{{< ref "docs/time" >}}">Read more</a>
        </p>

        {{< playground filename=time.js >}}
define(['timeAPI'], function(APIconstructor) {

    var API = new APIconstructor();

    API.addSequence([
        {
            input: [
                {handle:'space',on:'space'}
            ],
            layout: [
                {
                    media :{word:'Hello world'},
                    css:{fontSize:'2em',color:'#D7685A'}
                }
            ],
            interactions: [
                {
                    conditions: [
                        {type:'inputEquals',value:'space'}
                    ],
                    actions: [
                        {type:'endTrial'}
                    ]
                }
            ]
        }
    ]);

    return API.script;
});
        {{< /playground >}}
    </div>
{{< /blocks/section >}}

{{< blocks/section color="light" type=justify-content-center >}}
    <div class="col-xl-6">
        <h2>Minno-quest</h2>
        <p> 
            Minno-quest is the questionnaire creator within the minno-suite.
            It gives you the power to easily compose questionnaires, using a variety of built-in question types,
            all while keeping the highly dynamic control provided by MinnoJS.
            <a href="{{< ref "docs/quest" >}}">Read more</a>
        </p>
        {{< playground filename=quest.js >}}
define(['questAPI'], function(Quest){

    var API = new Quest();

    API.addSequence([
        {
            header: 'Hello World',
            questions: [
                {
                    type: 'selectOne',
                    stem: 'What is you favorite color?',
                    answers: ['red', 'blue', 'green']
                }
            ]
        }
    ]);

    return API.script;
});
        {{< /playground >}}
    </div>
{{< /blocks/section >}}

{{< blocks/section color="white" type=justify-content-center >}}
    <div class="col-xl-6">
        <h2>Minno-manager</h2>
        <p> 
            Minno manager is responsible for orchestrating multiple Minno tasks together.
            It gives you control over the sequence of tasks presented to your participants
            and alows you to coordinate between your various tasks.
            <a href="{{< ref "docs/manager" >}}">Read more</a>
        </p>
        {{< playground filename=manager.js >}}
define(['managerAPI'], function(Manager){

    var API = new Manager();

    API.addSequence([
        {
            type:'message', 
            piTemplate: true,
            template:'Click space for examples of a self-esteem questionnaire and a Stroop task', keys: ' '
        }, 
        {
            type:'message',
            piTemplate: true,
            template:'Click space to finish the study', keys: ' '
        }
    ]);

    return API.script;
});
        {{< /playground >}}
    </div>
{{< /blocks/section >}}
